:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  background-color: #ececec;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  padding: 1.25em;
  width: 70%;
  height: 95vh;
  gap: var(--spacing);
}

header {
  background-color: var(--blue-color);
  display: grid;
  grid-row: 1 / 3;
}

header > h1 {
  color: var(--primary-color);
  margin-right: auto;
  margin-left: auto;
}

header > p {
  color: var(--primary-color);
  margin: 5%;
  text-align: justify;
}

main {
  border: var(--border);
  display: grid;
  align-items: center;
}

main > h2 {
  color: var(--blue-color);
  text-align: center;
}

.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
  object-fit: cover;
}

.school img {
  width: 100%;
  height: 100%;
}

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
  object-fit: cover;
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}

footer {
  grid-column: 2 / 4;
  background-color: var(--orange-color);
  padding: 0em 1.563em;
}

footer > h3 {
  color: var(--primary-color);
  margin-top: 1.563em;
}

footer > p {
  color: var(--primary-color);
  margin-top: 1.875em;
}

footer > button {
  width: 12.5em;
  height: 4.375em;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  margin-top: 0.625em;
}

footer > button:hover {
  cursor: pointer;
}

@media (max-width: 75em) {
  body {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  footer {
    grid-column: 1 / 3;
  }
}

@media (max-width: 48em) {
  body {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
    margin: 0;
  }

  header {
    grid-row: 1 / 2;
    height: 37.5em;
  }

  header > h1 {
    text-align: center;
    width: 100%;
    font-size: 1.75em;
  }

  .alumni,
  .school,
  .student,
  .time {
    height: 18.75em;
  }

  main > h2 {
    height: 18.75em;
    display: grid;
    align-items: center;
  }

  footer {
    grid-column: 1 / 2;
    padding: 0.8em 1.2em;
  }

  footer > button {
    border: 1px solid var(--primary-color);
  }
}
